#loginBtn {
    -fx-border-color:  white;
    -fx-background-color:  #54B62C;
    -fx-border-radius: 8;
    -fx-border-width:  0;
}

#loginBtn:hover {
    -fx-background-color: #3F8F21; /* Darker green on hover */
    -fx-cursor: hand;
}